<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ppChat</title>
    <style>
        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "alerts chat";
        }

        section.alerts {
            grid-area: alerts;
        }

        section.chat {
            grid-area: chat;
        }
    </style>
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <!-- <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script> -->
    <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>

</head>

<body>
    <main id="v-app">

        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>

        <section class="chat">
            <h1> {{ title }}</h1>
            <form>
                <input v-model="text" type="text" />
                <button type="submit" @click.prevent="sendChatMessage()">send</button>
            </form>
            <p>
            <ul>
                <li v-for="msg of messages">
                    <strong>{{msg.sender}}:</strong> {{ msg.message }}
                </li>
            </ul>
            </p>
        </section>
    </main>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                title: 'ppChat',
                text: '',
                messages: [],
                socket: { chat: null, alerts: null },
                alerts: [], // Add the alerts property to the data section
            },
            methods: {
                sendChatMessage() {
                    // this.msg.push(this.text);
                    console.log(this.text);
                    // socket.emit('msgToServer', this.text);
                    this.socket.chat.emit('chatToServer', { sender: this.username, message: this.text });
                    this.text = '';
                },
                recievedChatMsg(msg) {
                    console.log(msg.sender + ' : ' + msg.message);
                    this.messages.push(msg);
                    this.msg = '';
                },
                sendAlertMessage() {
                    this.socket.alert.emit('alertToServer', { sender: this.username, message: this.text });
                    this.text = '';
                },
                recievedAlertMsg() {
                    // console.log(msg.sender + ' : ' + msg.message);
                    msg = "alert :  received";
                    console.log("alert :  received");
                    this.alerts.push(msg); // Update to push to the alerts property
                    this.msg = '';
                }
            },
            created() {
                this.username = prompt('Enter your name: ');
                this.socket.chat = io('http://localhost:3000/chat');
                this.socket.chat.on('chatToClient', (msg) => {
                    console.log(msg);
                    this.recievedChatMsg(msg);
                });
                this.socket.alerts = io('http://localhost:3000/alert');
                this.socket.alerts.on('alertToClient', () => {
                    console.log();
                    this.recievedAlertMsg();
                });
            }
        })
    </script>
</body>

</html>