## source: pinj-ponje 0.0.1
##--------------------
## .env and Credentials files
/.env
backend/.env
frontend/.env

## Node Modules and Build files
/dist
/node_modules

## IDE files and folders
.DS_Store